/*6 immagini
aggiungere cuore a img alto a deestra
sconto:colore rosso
sostenibilita: colore verde
background-collor:white */

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin: 0 auto;
    padding-top: 6px;
    text-align: center;


}
.box{
    width: 300px;
    display: inline-block;
    height: 450px;
    margin: 8px;
    background-color: #eaeaea;
}