/*6 immagini
aggiungere cuore a img alto a deestra
sconto:colore rosso
sostenibilita: colore verde
background-collor:white */

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin: 0 auto;
    padding-top: 6px;
    text-align: center;


}
.box1{
    width: 300px;
    display: inline-block;
    height: 430px;
    margin: 8px;
    background-image: url( ../img/1.webp);
    background-size: contain; 
}
.box2{
    width: 300px;
    display: inline-block;
    height: 430px;
    margin: 8px;
    background-image: url( ../img/2.webp);
    background-size: contain; 
}
.box3{
    width: 300px;
    display: inline-block;
    height: 430px;
    margin: 8px;
    background-image: url(../img/3.webp);
    background-size: contain; 
}
.box4{
    width: 300px;
    display: inline-block;
    height: 430px;
    margin: 8px;
    background-image: url(../img/4.webp);
    background-size: contain; 
}

.box5{
    width: 300px;
    display: inline-block;
    height: 430px;
    margin: 8px;
    background-image: url(../img/5.webp);
    background-size: contain; 
}
.box6{
    width: 300px;
    display: inline-block;
    height: 430px;
    margin: 8px;
    background-image: url(../img/6.webp);
    background-size: contain; 
}